

.customToggle {
    color: transparent;
    background-color: transparent;
    border: none;
    padding: 0; /* Remove padding to bring the Dropdown icon closer to the image */
    margin-left: 10px; /* Add margin to create space between the image and Dropdown icon */
  }
  
  
  .navItem::after {
    content: none; /* Hide the default caret icon */
  }


  .navBarTitle{
    color: yellow;
    align-items: center;
    margin-right: 35%;
}


.navBarIcon {
  padding: 1px
}

.img-container img:hover {
  opacity: 0.7; /* Adjust the opacity value to change the hover effect */
}
  