

.navBarTitleText {
    color:chocolate;
    background-color: grey;
}

.loginBigText {
    color:chocolate;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.loginSmallText {
    color:chocolate;
    margin-top: 1%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.loginContainer{
    background-color: gray;
    padding: 12%;
}

.loginForm {
    background-color: black;
    padding: 3%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid red;
    border-radius: 3%;

}

@keyframes floatAnimation {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-5px); 
    }
  }
  
  .loginForm img {
    animation: floatAnimation 2s ease-in-out infinite; 
}


@keyframes rotateImage {
    from{
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}


.loadingText {
    color: greenyellow;
}

.loadingText img {
    animation: rotateImage 5s linear infinite ;
}


@keyframes slideInRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animatedText {
    animation: slideInRight 5s; /* Adjust the animation duration as needed */
  }